// out: main.css

// Colour Swatch

// Dark Green
$colour1: #999967
// Dark Grey
$colour2: #666666
// Light Grey
$colour3: #CCCCCC
// light green
$colour4: #CCCC9A
// Black
$black: #232323
// White
$white: #F2F2F2

// Body
#main-window
  height: 100px

mainpanel
  position: fixed
  top: 0px
  bottom: 0px

button
  cursor: pointer
  border: none


// Side Bar
$divider-width: 300px
$button-height: 50px
$button-width: 50px
#sidebar-wrapper
  background-color: $colour3
  // background-image: url("../img/white_leather/white_leather.png")
  color: $black
  left: 0px
  width: $divider-width
  overflow: hidden
  info
    display: block
    background-color: $colour1
    text-align: center
    padding: 5px
    font-weight: bold
    margin-bottom: 5px
  buttonbar
    text-align: center
    display: block
    margin-bottom: 5px
    cursor: default
    button
      text-align: center
      height: $button-height
      width: $button-width
      background-color: $colour1
      display: inline-block
      position: relative
      overflow: hidden
      border-radius: 10px
      color: $black
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1)
      border-bottom: solid $black 1px
      &::before
        content: ""
        display: inline-block
        position: absolute
        top: 0px
        left: 0px
        width: 0px
        height: 0px
        border-top: $button-height solid rgba(255, 255, 255, 0.2)
        border-left: $button-height solid transparent
        border-right: none
      &.inactive
        background-color: $colour4
        color: $colour2
        cursor: default













// Main Window
#main-wrapper
  background-color: $black
  background-image: url("../img/slash_it/slash_it.png")
  color: $black
  left: $divider-width
  right: 0px
  box-shadow: inset 0px 0px 50px black

#show-hide-sidebar
  background-color: $colour3
  // background-image: url("../img/white_leather/white_leather.png")
  color: $black
  display: inline-block
  padding: 10px
  border-bottom-right-radius: 10px
  border-bottom: solid black 1px
  border-right: solid rgba(255, 255, 255, 0.5) 1px
  position: absolute
  top: 0px
  left: -1px
  text-shadow: 0px 1px 0px white
  &::before
    content: ""
    display: block
    height: 0px
    width: 0px
    border-right: 8px solid transparent
    border-bottom: 8px solid transparent
    border-left: 8px solid black
    position: absolute
    top: 4px
    left: 4px


#menubar-wrapper
  background-color: pink

// Popup dialog Stuff
screenshade
  visibility: hidden
  display: block
  position: fixed
  top: 0px
  left: 0px
  right: 0px
  bottom: 0px
  background-color: rgba(0, 0, 0, 0.8)
  popup
    display: block
    position: fixed
    overflow: auto
    top: 10%
    bottom: 20%
    left: 5%
    right: 5%
    padding: 10px
    background-color: $colour3
    border: solid $colour1 5px
    button
      background-color: $colour1

// #arrow
//   content: ""
//   display: inline-block
//   position: absolute
//   top: 0px
//   width: 0px
//   height: 0px
//   border-top: $import-height solid $import-colour
// #import-wrapper
//   position: relative
//   left: -50%
//   &::before
//     @extend #arrow
//     left: -20px
//     border-left: 20px solid transparent
//   &::after
//     @extend #arrow
//     right: -20px
//     border-right: 20px solid transparent
//   .import-button
//     height: $import-height
//     background-color: $import-colour
//     width: 80px
//     display: inline-block
//     text-align: center



// #import-wrapper::before {
//   content: "";
//   display: inline-block;
//   position: absolute;
//   left: -20px;
// 	width: 0px;
//   height: 0px;
//   border-top: 50px solid red;
//   border-left: 20px solid transparent;
// }
// #import-wrapper::after {
//   content: "";
//   display: inline-block;
//   position: absolute;
//   right: -20px;
// 	width: 0px;
//   height: 0px;
//   border-top: 50px solid red;
//   border-right: 20px solid transparent;
// }
//
// .import-button {
//   height: 30px;
//   width: 80px;
//   display: inline-block;
// }
//
// #import-file {
//   background-color: blue;
// }
//
// #import-camera {
//   background-color: green;
// }
//
// #navigation-wrapper {
//   background-color: orange;
//   float: left;
// }
//
// #divider {
//   background-color: grey;
//   float: left;
//   border-left: 3px solid black;
//   border-right: 3px solid black;
//   width: 30px;
//   height: 50px;
//   text-align: center;
//   cursor: grab;
// }
//
// #display-wrapper {
//   background-color: blue;
//   float: left;
// }
//
//
//

// // Other stuff
// hr
//   .fancy-line
//     border: 0px
//     height: 1px
//     position: relative
//     margin: 0.5em 0
//     &::before
//       content: ""
//       position: absolute
//       width: 100%
//       top: -0.5em
//       height: 1em
//     &::after
//       @extend .fancy-line::before
//       height: 0.5em
//       top: 1px
//
//
// hr.fancy-line, hr.fancy-line:before {
//     background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
//     background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
//     background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
//     background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
//     background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
//     background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
// }
//
// body, hr.fancy-line:after {
//     background: #f4f4f4;
// }


#curvedarrow
  position: relative
  width: 0
  height: 0
  border-top: 9px solid transparent
  border-right: 9px solid red
  -webkit-transform: rotate(10deg)
  -moz-transform: rotate(10deg)
  -ms-transform: rotate(10deg)
  -o-transform: rotate(10deg)
  &::after
    content: ""
    position: absolute
    border: 0 solid transparent
    border-top: 3px solid red
    border-radius: 20px 0 0 0
    top: -12px; left: -9px
    width: 12px
    height: 12px
    -webkit-transform: rotate(45deg)
    -moz-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    -o-transform: rotate(45deg)
