/*Main window*/

#menubar {
  background-color: pink;
  height: 50px;
  clear: both;
}

#navigation-wrapper {
  background-color: orange;
  float: left;
}

#divider {
  background-color: grey;
  float: left;
  border-left: 3px solid black;
  border-right: 3px solid black;
  width: 30px;
  height: 50px;
  text-align: center;
  cursor: grab;
}

#display-wrapper {
  background-color: blue;
  float: left;
}
